.mainPage{
  position: relative;
width: 1920px;
height: 1080px;

background: #FFFFFF;
}

.button1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  gap: 20px;
  
  position: absolute;
  width: 387px;
  height: 60px;
  left: calc(50% - 387px/2 - 0.5px);
  top: 787px;
  
  background: #62A1EB;
  border-radius: 8px;
}

.button2{
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 18px 60px;
gap: 20px;

position: absolute;
width: 387px;
height: 60px;
left: calc(50% - 387px/2 - 0.5px);
top: 873px;

background: #62A1EB;
border-radius: 8px;
}

.cover{
  position: absolute;
width: 781px;
height: 482px;
left: 589px;
top: 182px;
background-image: url('./Images/Frame.png');
}

.logo02{
  position: absolute;
width: 112px;
height: 18px;
left: calc(50% - 112px/2);
top: 79px;

background-image: url('./Images/LOGO-02.png');
}
