.form {
  position: absolute;
  height: 1571px;
  left: 347px;
  right: 347px;
  top: 157px;

  background: #ffffff;
  border-radius: 18px;
}

.form input{
    box-sizing: border-box;
width: 407px;
height: 60px;
border: 1.8px solid #8ac0e2;
border-radius: 8px;
/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
}

.form label{
  height: 21px;
  width: 407px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height, or 117% */
  display: flex;
  align-items: center;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.form small{
  width: 407px;
  height: 21px;
  color: #2e2e2e;
  order: 2;
  
}

.form select {
  width: 408px;
  height: 60px;
  background: #ebebeb;
  border-radius: 8px;
  flex: none;
  order: 0;
  
}


.form button{
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 18px 60px;
gap: 20px;
background: #62A1EB;
border-radius: 8px;
border-color: #FFFFFF;
font-weight: 500;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}

.form option{
  position: absolute;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height, or 117% */

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
}

.arrowButton {
  position: absolute;
  width: 53px;
  height: 53px;
  left: 70px;
  top: 53px;
  border-radius: 50%;
  background: #D9D9D9;
}

.arrow {
  position: absolute;
  width: 9.21px;
  height: 16px;
  left: 90px;
  top: 72px;
  background-image: url("./Images/Vector.png");
}

.logo2 {
  position: absolute;
  width: 85px;
  height: 85px;
  left: calc(50% - 85px / 2 - 0.5px);
  top: 1784px;

  background: url("./Images/LOGO-10\ 2.png");
}

.main {
  position: relative;
  width: 1920px;
  height: 1327px;
  background: #f7f7f7;
}

.imageBox {
  box-sizing: border-box;

  position: absolute;
  height: 423px;
  left: 174px;
  right: 174px;
  top: 68px;

  background: #f7f7f7;

  border: 2px dashed #4386a9;
  border-radius: 18px;
}

.imageBox p {
  position: absolute;
  width: 195px;
  height: 76px;
  left: calc(50% - 195px / 2 + 0.5px);
  top: 175px;
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
  /* or 190% */
  display: flex;
  align-items: center;
  text-align: center;
  color: #4386a9;
}

.imageBox button {
  
  position: absolute;
  width: 233px;
  height: 60px;
  left: calc(50% - 233px / 2 - 0.5px);
  top: 316px;
}

.laptopName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px;
  gap: 8px;
  position: absolute;
  width: 455px;
  height: 134px;
  left: 150px;
  top: 533px;
}

.laptopBrand {
  padding: 8px 24px;
  position: absolute;
  left: calc(50% - 456px / 2 + 235px);
  top: 563px;
}


.line1 {
  position: absolute;
  height: 0px;
  left: 150px;
  right: 174px;
  top: 711px;

  border: 1px solid #c7c7c7;
}

.line2 {
  position: absolute;
  height: 0px;
  left: 174px;
  right: 174px;
  top: 1098px;

  /* შავი/200 */

  border: 1px solid #c7c7c7;
}

.cpu {
  padding: 8px 24px;

  position: absolute;
  width: 325px;
  height: 76px;
  left: calc(50% - 325px / 2 - 300.5px);
  top: 782px;
}

.cpu select {
  width: 277px;
}

.core {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px;
  gap: 8px;

  position: absolute;
  width: 324px;
  height: 134px;
  left: calc(50% - 324px / 2);
  top: 753px;
}

.core input {
  width: 276px;
}

.flow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px;
  gap: 8px;

  position: absolute;
  width: 324px;
  height: 134px;
  left: calc(50% - 324px / 2 + 300px);
  top: 753px;
}

.flow input {
  width: 276px;
}

.ram {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px;
  gap: 8px;

  position: absolute;
  width: 455px;
  height: 134px;
  left: calc(50% - 455px / 2 - 235.5px);
  top: 920px;
}

.memoryType {
  position: absolute;
  width: 163px;
  height: 21px;
  left: 643px;
  top: 928px;
}

.memoryTypeSSD {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 18px;

  position: absolute;
  width: 71px;
  height: 21px;
  left: 644px;
  top: 975px;
}

.memoryTypeSSD input {
  width: 20px;
  height: 20px;
  border: 2px solid #4d9ac3;
  flex: none;
  order: 0;
}


.memoryTypeHDD {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 18px;

  position: absolute;
  width: 73px;
  height: 21px;
  left: 775px;
  top: 975px;
}

.memoryTypeHDD input {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 2px solid #4d9ac3;
  flex: none;
  order: 0;
}

.memoryTypeHDD label {
  width: 33px;
  font-weight: 400;
  font-size: 16px;
  order: 1;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px;
  gap: 8px;

  position: absolute;
  width: 455px;
  height: 105px;
  left: calc(50% - 455px / 2 - 235.5px);
  top: 1140px;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px;
  gap: 8px;

  position: absolute;
  width: 456px;
  height: 134px;
  left: calc(50% - 456px / 2 + 235px);
  top: 1140px;
}

.price input{
    width: 408px;
}

.price label:before {
  position: absolute;
  width: 18px;
height: 21px;
  top: 50px;
  content: "₾";
  right: 80px;
  color: #797979;
border: 0.4px solid #FFFFFF;
}

.condition label{
    position: absolute;
width: 225px;
height: 21px;
left: 174px;
top: 1320px;

}

.conditionNew {
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 18px;

position: absolute;
width: 88px;
height: 21px;
left: 174px;
top: 1369px;
}

.conditionNew input{
    box-sizing: border-box;

width: 20px;
height: 20px;

/* ლურჯი/600 */

border: 2px solid #4D9AC3;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.conditionSecondhand{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 18px;

position: absolute;
width: 110px;
height: 21px;
left: 324px;
top: 1369px;
}

.conditionSecondhand input{
    box-sizing: border-box;

    width: 20px;
    height: 20px;
    
    /* ლურჯი/600 */
    
    border: 2px solid #4D9AC3;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.conditionSecondhand label{
    width: 72px;
height: 21px;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height, or 131% */

display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.back p{
  position: absolute;
  width: 45px;
  height: 21px;
  left: 174px;
  top: 1487px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height, or 117% */
  
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  
  color: #62A1EB;
}


.save{
  position: absolute;
width: 219px;
height: 60px;
right: 174px;
top: 1466px;

}