.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: fixed;
    top: 25vh;
    left: 5%;
    width: 50vh;
    height: 50vh;
    background-color: white;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 1;
    animation: slide-down 300ms ease-out forwards;
    align-items: center;
  }
  .modal h1{
    display: flex;
    justify-content: center;
  }
    
  .img{
    display: flex;
    justify-content: center;
    width: 30%;
    height: 40%;
    background-image: url("./Images/PopUp.png");
  }
  
  @media (min-width: 390px) {
    .modal {
      width: 40rem;
      left: calc(50% - 20rem);
    }
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.buttons{
    display: flex;
    flex-direction: column;
    gap:20px;
justify-content: center;
align-items: center;
    left: calc(50% - 387px/2 - 0.5px);
  }

  .buttons button{
    padding: 18px 60px;
background: #62A1EB;
border-radius: 8px;
width: 387px;
height: 60px;
align-items: center;
justify-content: space-between;
border-color: #ffffff;
color: #ffffff;
font-weight: 500;
font-size: 20px;
line-height: 24px;
}
