.main {
  position: relative;
  width: 1920px;
  height: 1327px;

  background: #f7f7f7;
}

.form {
  position: absolute;
  height: 973px;
  left: 347px;
  right: 347px;
  top: 157px;

  background: #ffffff;
  border-radius: 18px;
}

.form label{
  height: 21px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height, or 117% */
  display: flex;
  align-items: center;

  /* Inside auto layout */

}

.form input{
  box-sizing: border-box;
  height: 60px;
  border: 1.8px solid #8ac0e2;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
}

.form small{
  color: #2E2E2E;
 order: 2;
 width: 407px;
height: 21px;
}

.form select{
  height: 60px;
  background: #ebebeb;
  border-radius: 8px;
  flex: none;
  order: 0;
  align-self: stretch;
}

.form option{
  padding: 10px;
gap: 10px;
width: 878px;
height: 41px;
background: #FFFFFF;
/* Inside auto layout */
order: 4;
}

.inputName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px;
  gap: 8px;

  position: absolute;
  width: 455px;
  height: 134px;
  left: 150px;
  top: 88px;
}

.inputName input {
  width: 407px;
}


.inputLastName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px;
  gap: 8px;

  position: absolute;
  width: 456px;
  height: 134px;
  left: calc(50%);
  top: 88px;
}

.inputLastName input {
  width: 408px;
}

.inputTeam {
  padding: 8px 24px;
  position: absolute;
  left: calc(50% - 926px / 2);
  top: 258px;
}

.inputTeam select {
  width: 878px;
}


.inputPosition {
  flex-direction: column;
  padding: 8px 24px;
  position: absolute;
  width: 926px;
  height: 76px;
  left: calc(50% - 926px / 2);
  top: 371px;
}

.inputPosition select {
  width: 878px;
  
}


.inputEmail {
  display: flex;
  flex-direction: column;
  padding: 8px 24px;
  gap: 8px;
  position: absolute;
  width: 926px;
  height: 134px;
  left: calc(50% - 926px / 2);
  top: 482px;
}

.inputEmail input {
  width: 878px;
}

.inputNumber {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px;
  gap: 8px;

  position: absolute;
  width: 926px;
  height: 134px;
  left: calc(50% - 926px / 2);
  top: 648px;
}

.inputNumber input {
  width: 878px;
}

.button {
  display: flex;
  padding: 18px 60px;
  gap: 20px;
  position: absolute;
  width: 176px;
  height: 60px;
  right: 174px;
  top: 869px;
  background: #62a1eb;
  border-radius: 8px;
  border-color:white;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
